/*
        Author : Jatin Bhirud
        Theam  : Tours and Travals
*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 30px;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
h5{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}


.img-responsive{
    width: 100%;
}
.clearfix{
    clear: both;
    float: none;

}

/*part1*/

.container1{
    
    border: 1px solid black;
    margin: auto;
    padding: 0%;
    background-color:#0a3d62;
}

.menu1 ul{
    list-style: none;
    text-align: center;
    
}
.menu1 ul li{
    display: inline;
    padding: 2%;
    
    
}

a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    
    
}

a:hover{
    color: red;
}










/*part2*/
.container2{
    
    margin: auto;
    padding: 0%;
    background-color:white;
    
}
.menu2 ul{
    list-style: none;
    text-align: center;
    
    
}
.menu2 ul li{
    display: inline;
    padding: 2%;
    
    
}
b{
    text-decoration: none;
    color:black;
    font-size: large;
    
    
}

b:hover{
    color: red;
}









/* part 3*/
.container3{
   
    width: 80%;
    margin: auto;
    padding: 5%; 
}
.main ul{
    list-style: none;
    text-align: left;
}
.section3{
    background-image: url(../images/beach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5% 0;
}
d{
    
   font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 280%;
    
    color: #F8EFBA;
}
e{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 160%;
    color:#f1f2f6;
}













/* part 4*/
.container4{
   
    width: 80%;
    margin: auto;
    padding: 0%;
    background-color:white;  
}
.menu4 ul{
    list-style: none;
}
g{
    font-size: 20px;
    font-family: cursive;
    font-style: normal;
}













/* part 5*/
.container5{
   
    
    margin: auto;
    background-color:white;  
    text-align:center ;
    
    
}
.box{
    
    width: 22%;
    float: left;
    margin: 1.5%;
    
}

p2{
   color: #c44569; 
   font-weight: 700;
}




















/* part 6*/
.container6{
    
    width: 80%;
    margin: auto;
    padding-top: 1% ; 
   
    
}
.section6{
    background-image: url(../images/bridge.jpg);
    padding: 10% 0;
    padding-bottom: 13%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.section6 input[type="search"]{

    width: 23.5%;
    font-size: 1rem;
    padding: 0.5%;
}
.btn1{
    
    font-size: 1rem;
    padding: 0.5%;
   background-color:red ;
}

f{
    font-size: 28px;
    font-weight: bold;
    
}










/* part 7*/
.container7{
    
    margin: 0;
    padding: 0%;
    background-color:white 
}
.world{
    
    height: 250px;
    width: 25%;
    float: left;
    margin: 2.5%;
    padding: 1.5%;
}
.qwer{
    clip-path: circle();
}












/* part 8*/
.container8{
 
    width: 80%;
    margin: auto;
    padding-top: 1%;
    background-color:white;  
}
.regi{
    
    width: 45%;
    float: left;
    margin: 2.2%;
    
}
.section8 input[type="text"]{
    width: 250px;
    margin-left: 14%;
    height: 23px;
}
.btn2{
   background-color:red ;
   margin-left: 21%;
   margin-top: 3%;
   font-size: 1.2rem;
   height: 40px;
   width: 100px;
}












/* part 9*/
.container9{
   
    width: 80%;
    margin: auto;
    padding: 0%;
    background-color:white;  
}
.rev{
    
    width: 22%;
    float: left;
    margin: 1.5%;
    
}
.xyz{
    clip-path: circle();
}
p3{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
h{
    font-size: 18px;
    font-weight: bold;
    
}
.star{
    text-align: center;
    
}
.star2{
    text-align: center;
    
}

























/* part 10*/
.container10{
    
    width: 80%;
    margin: auto;
    padding: 0%;
    background-color:white; 
    margin-top: 3%; 
}

.social ul{
    list-style: none;
    text-align: center;
    
    
}
.social ul li{
    display: inline;
    padding: 2%;
}














/* part 11*/
.container11{
   
    width: 80%;
    margin: auto;
    padding: 0%;
    background-color:white; 
   
    

}
.footer{
    text-align: center;
    font-size: large;
    color: black;
    
}
c{
    font-size: large;
    color: red;
    font-weight: bold;
    
}



